*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

main{
    display: grid;
    grid-template-columns: 30rem 30rem 30rem;
    grid-auto-rows: auto;
    gap: 1.6rem;
    justify-content: center;
    height: 60rem;
}

article{
    border: 0.3rem solid orange;
}

