*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color:cadetblue;
}

b{
    color: red;
}

section > h1{
    color:blue;
}

u{
    color:red;
}

i{
    color: blue;
}

span{
    border-left: 3px solid #333;
}

.section p{
    color:brown
}